* {
    margin: 0px;
}
body {
    background-color: antiquewhite;
    display:flex;
    flex-wrap: wrap;
}
img {
    height: 200px;
}
header {
    width: 100vw;
}
main {
    width: 75vw;
    border: solid;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(230, 196, 146);
}
.company {
    display:flex;
    align-items: center;
}

.ticketSearch {
    text-align: center;
    padding: 20px;
}
.ticketContainer {
    border: 2px Solid grey;
    border-radius: 10px;
    margin: 5px 50px;
}
.ticketContainer:hover {
    background-color: #80808050;
    box-shadow: 0 0 5px 1px grey;
}
.ticketDiv {
    display:flex;
    justify-content: space-evenly;
    padding: 5px;
    list-style-type: none;
    align-items: center;
}
li {
    padding: 0 20px;
}
#newTicket {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.newTicketForm {
    display:flex;
    flex-direction: column;
}
.ticketInputs {
    width: 400px;
}
#ticketDisplay {
    width: 23vw;
    border: solid;
}
.viewTicketContainer {
    padding: 10px;
    margin: 10px;
    border: solid 2px grey;
}
.left {
    width: 50%;
    display:inline-block
}
.right {
    width: 50%;
    display:inline-block;
    text-align: right;
}